<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

   <context:component-scan base-package="guru.springframework" />

   <!--@Controller Bean 설정-->
   <bean id="greedingController" class="guru.springframework.controllers.GreedingController">
      <property name="helloWorldService" ref="helloWorldServiceProfileImpl" />
      <property name="helloWorldServiceSpanish" ref="helloWorldServiceSpanish" />
      <property name="helloWorldServiceChinese" ref="chinese" />
   </bean>

   <!--일반 Bean 설정-->
   <bean id="helloWorldServiceFactory" class="guru.springframework.services.HelloWorldServiceFactory" />

   <!--@Bean( name="chinese" ) 설정 : Factory 에서 생성되는 Bean-->
   <bean id="chinese" factory-bean="helloWorldServiceFactory" factory-method="createHelloWorldService" >
      <constructor-arg value="ch" />
   </bean>

   <!--Bean 의 method 를 참조하는 Bean 설정 : Factory 에서 생성되는 Bean -->
   <bean id="helloWorldServiceSpanish" factory-bean="helloWorldServiceFactory" factory-method="createHelloWorldService">
      <constructor-arg value="eu" />
   </bean>

   <!--일반 Bean 설정 : Factory 에서 생성되는 Bean
   <bean id="helloWorldServiceGermanImpl" factory-bean="helloWorldServiceFactory" factory-method="createHelloWorldService">
      <constructor-arg value="ge" />
   </bean>
   -->

   <!--@Profile 와 @Primary Bean 설정( @Profile 를 사용한 Bean 들은 공통 id 부여 ) : Factory 에서 생성되는 Bean-->
   <beans profile="english">
      <bean id="helloWorldServiceProfileImpl" factory-bean="helloWorldServiceFactory" factory-method="createHelloWorldService" primary="true">
         <constructor-arg value="en"/>
      </bean>
   </beans>

   <beans profile="korean">
      <bean id="helloWorldServiceProfileImpl" factory-bean="helloWorldServiceFactory" factory-method="createHelloWorldService" primary="true">
         <constructor-arg value="en"/>
      </bean>
   </beans>

</beans>